@charset "utf-8";

* { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a, img, abbr, acronym, fieldset { border: 0; }

em, strong, dfn, code, var, cite,
input, select, textarea, button, optgroup, option,
address,
th, caption  { font-weight: inherit; font-style: inherit; font-size: inherit; }

input, select, textarea, button, optgroup, option { font-family: inherit; }

li { list-style: none; }

th, td { vertical-align: top; }
th, caption { text-align: left; }

abbr, acronym { font-variant: normal; }

ins, del { text-decoration: none; }

sub, sup { vertical-align: baseline; }

q:before, q:after { content: ''; }

div, p,
ul, ol, li, dl, dt, dd,
th, td,
h1, h2, h3, h4, h5, h6 { background-repeat: no-repeat; background-position: 0 0; }



/* ============================== css hack */
/* floating box clear */
.clr:before,
.clr:after { content: ""; display: table; }
.clr:after { clear: both; }
.clr { *zoom: 1; }

/* hide text */
.hidetxt, .hd { text-indent: -9999px; overflow: hidden; }
.hidetxt a, .hd a { overflow: hidden; }


/* ============================== multi column */
.multi_section {  }
.left_section { float: left; }
.right_section { float: right; }
.ms {  }
.ls { float: left; }
.rs { float: right; }

.multi_column { }
.left_column { float: left; }
.right_column { float: right; }
.mc {  }
.lc { float: left; }
.rc { float: right; }
