@charset "utf-8";

html * { box-sizing: border-box; }
body { font-size: 16px; line-height: 1.5; font-family: sans-serif; }

strong { font-weight: bold; }

#header-title-page { padding: 20px; }
#title-page { font-size: 300%; font-weight: bold; }
#contents-outer {}

.heading-section { margin: 20px 0 0; font-size: 134%; color: #666; font-weight: bold; }

.text-lead { color: #66a; margin: 20px 0 0; font-size: 117%; }
.text-description { margin: 20px 0 0; }
